  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="search-form">

    <input type="text" name="album" formControlName="album" class="text-field" required>

    <button [disabled]="form.invalid" type="submit" class="btn">
      Get albums
    </button>
  </form>


