.search-form {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.text-field {
  font-size: 18px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid gray;
}

.btn {
  margin: 20px 0;
  padding: 20px;
  border: none;
  border-radius: 5px;
  background: orange;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all .5s ease;
}

.btn:hover {
  background: orangered;
}

.btn[disabled] {
  background: grey;
}
