.result-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  display: block;
}

.single-album {
  width: calc((100% / 3) - 35px);
  min-height: 300px;
  border: 1px solid orangered;
  border-radius: 4px;
  margin-bottom: 35px;
  transition: .2s all ease-in-out;
}

.single-album:hover {
  -webkit-box-shadow: 4px 8px 29px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 8px 29px 0px rgba(0,0,0,0.75);
  box-shadow: 4px 8px 29px 0px rgba(0,0,0,0.75);
}

.inner-info {
  padding: 15px;
  font-family: Arial, sans-serif;
}

.inner-info p span {
  font-weight: bold;
}

