<div class="result-wrapper">
  <div *ngFor="let album of foundAlbums" class="single-album">
    <img [src]="album.albumImage" [alt]="album.title">
    <div class="inner-info">
      <p>
      <span>
        Artist:
      </span>
        {{album.artistName}}
      </p>
      <p>
      <span>
        Title:
      </span>
        {{album.title}}
      </p>
      <p>
        <span>Tracks: </span>
        {{album.tracksCount}}
      </p>
      <a [href]="album.link" target="_blank">Preview</a>
    </div>
  </div>
</div>
